SERVER=http://localhost:3000
DATABASE_URL=host=localhost port=5432 user=postgres dbname=develytica sslmode=disable password=Dssser2012
GITHUB_OAUTH_CLIENT_ID=200c2ff23297686ea
GITHUB_OAUTH_CLIENT_SECRET=fc2312d714136185e619c7019824b2fa8d48a3
GITHUB_CALLBACK_URI=http://localhost:3000/auth/github/callback
PORT=3000