{{ template "header.html" . }}

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Not found...
            </h1>
        </div>
    </section>
</body>
{{ template "footer.html" .}}