<!DOCTYPE html>
<html>
{{ template "head.gohtml" . }}

<body>
    {{ template "header.gohtml" . }}

    <div class="container">
        <div class="columns">
            <div class="column is-3">
                {{ template "side.gohtml" }}
            </div>
            <div class="column is-9">

                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello,
                            </h1>
                            <h2 class="subtitle">
                                Some quick stats about your situation in your organizations
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{.UsersCount}}</p>
                                <p class="subtitle">Github org members</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{.OrganizationsCount}}</p>
                                <p class="subtitle">Github organizations</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{.ReposCount}}</p>
                                <p class="subtitle">Github repos</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{.LabelsCount}}</p>
                                <p class="subtitle">Labels to use as tracking point</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Top 10 contributors
                                </p>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            {{ range .TeamMembers }}
                                            <tr>
                                                <td>{{.Login}} <strong>({{.IssuesCount}})</strong></td>
                                                <td class="level-right"><a class="button is-small is-primary" href="/team/{{.RemoteID}}">Profile</a></td>
                                            </tr>
											{{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/team" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Do full sync for all your tracked organizations, repos and issues
                                </p>
                                <div class="card-content">
                                    <div class="content">
                                        <button hx-post="/sync" class="button is-link">Sync now</button>
                                    </div>
                                </div>
                            </header>
                        </div>
                            </div>
                        </div>
                    </div>
    </div>
</body>

</html>