<!DOCTYPE html>
<html>
{{ template "head.gohtml" . }}

<body>
    {{ template "header.gohtml" . }}
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                {{ template "side.gohtml" }}
            </div>
            <div class="column is-9">
                <h2 class="title is-2">Here you can select labels that you consider important</h2>
                <div class="content">
                    <p>These are the labels that we know from your synced repos.</p>
                    <p>You can select labels here that you want to keep track of</p>
                    {{range .ValidationErrors}}
                    <p class="help is-danger">{{ .}}</p>
                    {{ end }}
                </div>
                <div class="table-container">
                    <div class="control" hx-include="#labelsform" hx-target="#labelstable">
                        <button class="button is-link" hx-put="/labels/tracking">Update tracking</button>
                    </div>
                    <form id="labelsform">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Label name</th>
                                    <th>Track label?</th>
                                </tr>
                            </thead>
                            <tbody id="labelstable">
                                {{ range .LabelsData}}
                                <tr>
                                    <td>{{.Name}}</td>
                                    <td><input type="checkbox" name="labelTracked" value={{ .Name}} {{ if .IsTracked}}checked{{end}}/></td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </form>
                    <div class="control" hx-include="#labelsform" hx-target="#labelstable">
                        <button class="button is-link" hx-put="/labels/tracking">Update tracking</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>