<!DOCTYPE html>
<html>
{{ template "head.gohtml" . }}

<body>
    {{ template "header.gohtml" . }}
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                {{ template "side.gohtml" }}
            </div>
            <div class="column is-9">
                <h2 class="title is-2">These are the organizations that you have granted access to us</h2>
                <div class="content">
                    <p>We can keep all the repos, issues and labels in sync from these organizations.</p>
                    <p>If you don't find your organization here, then click this <a href="https://github.com/settings/connections/applications/ac8bdfd765983069e9f8">link</a> to add it in GitHub</p>
                    <p>After you have added the organization do full sync</p>

                    <h3 class="title is-3">Your organizations</h3>
                    <ul type="1">
                        {{ range .Organizations}}
                        <li>{{.Login}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>