<!DOCTYPE html>
<html>
{{ template "head.gohtml" . }}

<body>
    {{ template "header.gohtml" . }}
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                {{ template "side.gohtml" }}
            </div>
            <div class="column is-9">
                <h2 class="title is-2">These are the repositories that we know of</h2>
                <div class="content">
                    <p>You can select here which repositories you want to keep track of</p>
                    {{range .ValidationErrors}}
                    <p class="help is-danger">{{ .}}</p>
                    {{ end }}
                </div>
                <div class="table-container">
                    <div class="control" hx-include="#reposform" hx-target="#repostable">
                        <button class="button is-link" hx-put="/repositories/tracking">Update tracking</button>
                    </div>
                    <form id="reposform">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Repo Organization</th>
                                    <th>Repo name</th>
                                    <th>Repo open issues count</th>
                                    <th>Track repo?</th>
                                </tr>
                            </thead>
                            <tbody id="repostable">
                                {{ range .ReposData}}
                                <tr>
                                    <td>{{.Login}}</td>
                                    <td>{{.Name}}</td>
                                    <td>{{.OpenIssuesCount}}</td>
                                    <td><input type="checkbox" name="repoTracked" value={{ .RemoteID}} {{ if .IsTracked}}checked{{end}}/></td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </form>
                    <div class="control" hx-include="#reposform" hx-target="#repostable">
                        <button class="button is-link" hx-put="/repositories/tracking">Update tracking</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>