<!DOCTYPE html>
<html>
{{ template "head.gohtml" . }}

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <a class="button" href="/auth/github/signin">
                    <span class="icon">
								<i class="fab fa-github"></i>
							</span>
                    <span>Sign in</span>
                </a>
            </div>
        </div>
    </section>
</body>

</html>