<!DOCTYPE html>
<html>
{{ template "head.gohtml" . }}

<body>
    {{ template "header.gohtml" . }}
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                {{ template "side.gohtml" }}
            </div>
            <div class="column is-9">
                <h2 class="title is-2">These are your team members that we know of</h2>
                <div class="content">
                    {{range .ValidationErrors}}
                    <p class="help is-danger">{{ .}}</p>
                    {{ end }}
                </div>
                <div class="table-container">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Done issues</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .TeamMembers}}
                            <tr>
                                <td><a href="/team/{{.RemoteID}}">{{.Login}}</a></td>
                                <td>{{.Location}}</td>
                                <td>{{.IssuesCount}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>